@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=PT+Serif&display=swap');

*, body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.container h1 {
    font-size: 1.25rem;
    font-family: "PT Serif", serif;
}
.container i {
    font-size: 0.95rem;
}

.container p {
    margin: 20px;
    font-size: 0.8rem;
    color: #888;
}

.container .form-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    padding: 10px;
    margin: 3% 0 0.5% 0;
    resize: none;
    height: 150px;
    width: 320px;
    border: none;
    border-radius: 16px;
    background: #f5f5f5;
    box-shadow: 9px 9px 18px #d0d0d0, -9px -9px 18px #ffffff;
}

.container form textarea {
    border: none;
    height: 200px;
    width: 200px;
    outline: none;
    padding: 10px;
    resize: none;
}

button {
    padding: 5px;
    color: #666666;
    margin-top: 10px;
    width: 40%;
    font-size: 0.75rem;
    font-weight: bold;
    resize: none;
    border: none;
    cursor: pointer;

    /* background-color: #fff; */

    /* border-radius: 15px;
    border-radius: 16px;
    background: #f5f5f5;
    box-shadow: 9px 9px 18px #d0d0d0, -9px -9px 18px #ffffff;
    transition: all 0.3s ease-in-out; */
}

/* button:hover {
    box-shadow: 9px 9px 18px #d0d0d0, -9px -9px 18px #ffffff;
    transform: translateY(-5px);
} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-block: 30px;
    border: none;
}

/* @keyframes rumble {
    10% { transform: translate(-2px, 2px); }
    20% { transform: translate(2px, -2px); }
    30% { transform: translate(-2px, -2px); }
    40% { transform: translate(2px, 2px); }
    50% { transform: translate(0, 0); }
    60% { transform: translate(0, 0); }
    70% { transform: translate(0, 0); }
    80% { transform: translate(0, 0); }
    90% { transform: translate(0, 0); }
    100% { transform: translate(0, 0); }
} */

.message-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 250px;
    font-weight: bold;
    overflow: hidden;
    font-size: 0.75rem;
    padding: 10px;
    resize: none;
    border-radius: 16px;
    background: #f5f5f5;
    box-shadow: 9px 9px 18px #d0d0d0, -9px -9px 18px #ffffff;
    grid-row: span 1;
    grid-column: span 1;
    /* animation: rumble 1s infinite; */
}

.message-box .content-message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.85rem;
    color: rgb(47, 47, 47);
    word-wrap: break-word;
    word-break: break-all;
    transform: translateY(-30px);
}

@media (max-width: 1020px) {
    .container form {
        width: 250px;
    }
    
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        border: none;
    }
}

@media (max-width: 730px) {
    .container form {
        width: 250px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        border: none;
    }
}